* {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    background-color: black;
    position: relative;
}

header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 8vh;
    padding-top: 20px;
    z-index: 99;
}

a {
    text-decoration: none;
    padding: 0;
}

.sfondogrey {
    position: relative;
    background-color: rgba(211, 211, 211, 0.504);
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

.sfondogrey img {
    width: 15px;
}

main {
    position: absolute;
    top: 17vh;
    margin-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.utente {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: calc(90% / 7);
    margin-top: 1vh;
}

.imgutente {
    width: 12vw
}

.micmuted {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
}

.utente > span {
    position: absolute;
    left: 30px;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.358);
    color: white;
}

#contcontrolli {
    position: fixed;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: rgb(44, 44, 44);
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    color: white;
}

.cent {
    margin-left: -60px;
}

.disp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
}

.disp img {
    width: 30px;
}

.frecc {
    margin-right: 10px;
    font-size: 30px;
}

.end {
    background-color: rgba(211, 211, 211, 0.504);
    color: crimson;
    padding: 3vh;
    margin: 0;
}